<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Spuneful</title>
</head>
<body>
    <nav>
        <h2><a href="/">Spuneful</a></h2>
        <div id="navbar">
            <a href="/flavors">Flavor index</a>
            <a href="/flavors/new">Add a flavor</a>
        </div>
    </nav>
    <div class="container">