<%- include('./partials/header.ejs') %>
<h1><%=flavor.name%></h1>
<h3>Pairings</h3>
<ul>
    <% for (let i in flavor.pairings) { %>
        <li>
            <%=flavor.pairings[i]%>
        </li>
    <% } %>
</ul>
<%- include('./partials/footer.ejs') %>