@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Merriweather+Sans&display=swap');

html,
body {
    background-color: #C6EBBE;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 10px;
}

nav {
    flex: 0 1 auto;
    white-space: nowrap;
}

nav h2 {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em;
}

nav a {
    color: #093A3E;
    text-decoration: none;
    transition: color 0.5s;
}

nav a:hover{
    color: #2D93AD;
}

#navbar {
    display: flex;
    background-color: #093A3E;
    text-transform: uppercase;
    justify-content: center;
    padding: 0 10px;
    border-radius: 10px 10px 0 0;
}

#navbar a {
    color: #97C8EB;
    background-color: #093A3E;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.5s;
}

#navbar a:hover {
    background-color: #B4436C;
}

.container {
    border: 2px solid #093A3E;
    border-top: 0px;
    border-radius: 0 0 10px 10px;
    flex: 1 1 auto;
    padding: 30px 10%;
}

main {
    display: flex;
    flex-direction: column;
}

.leftalign {
    align-items: flex-start;
}

.centeralign {
    align-items: center;
}

#showcols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#showcols > * {
    padding: 0 20px;
    width: 30%;
}

#showcols ul {
    width: 100%;
}

#showcols li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#showcols li a {
    padding: 5px 0;
}

li a {
    text-decoration: none;
    color: #B4436C;
    transition: color 0.5s;
}

li a:hover {
    color: #DE8F6E;
}

li form {
    display: inline;
}

input[type=submit] {
    background-color: #093A3E;
    color: #97C8EB;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.5s;
}

input[type=submit]:hover {
    background-color: #B4436C;
}

li input[type=submit] {
    background-color: #C6EBBE;
    border: none;
    border-radius: 10px;
    color: #B4436C;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

li input[type=submit]:hover {
    background-color: #093A3E;
    color: #97C8EB;
}

#pairings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#newpairing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

input[type=textarea] {
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    border: 2px solid #093A3E;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 1em;
    margin: 10px 0;
}

input[type=text] {
    border: 2px solid #093A3E;
    border-radius: 5px;
    background-color: #f8f8f8;
    margin: 10px 0;
}